<!-- views/partials/header.ejs -->

<header>

  <% if(locals.user === undefined) { %>
    <form action="/register" method="post">
      <label for="userID">Enter username</label>
      <input name="userID" type="text" placeholder="mystupidlogin">
      <input type="submit" value="Sign in">
    </form>
  <% } else { %>
    <form action= "/logout" method=post>
    <label for="userID"><%= locals.user %></label><button>Log out</button>
    </form>
    <% } %>
</header>