<!-- views/partials/header.ejs -->

<header>
  <form action="/login" method='post'>
    <label for="userID">Enter username</label>
    <input name="userID" type="text" placeholder="mystupidlogin">
    <input type="submit" value="Sign in">
</header>