<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
<body>
  <form action="/urls/<%= shortURL %>" method="POST">
    <label for="longURL">Enter URL</label>
    <input value="<%= longURL %>" type="text" name="longURL" placeholder="http://" style="width:300px">
    <input type="submit" value="Update">
    <!-- <button>Update</button> -->
  </form>
    <%= shortURL %> - <%= longURL %>
</body>
</html>