<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header.ejs %>
<header>Your shortened links</header>
  <p>
  <ul><% for(var x in urls) { %>
    <li><%= x %> - <%= urls[x] %><form method="post" action="/urls/<%= x %>/delete">
      <button>Delete</button><a href="/urls/<%= x %>" style="margin-left: 5px">Edit</a>
  </p>
  </form></li>
  <% } %></ul>

</body>
</html>