<!DOCTYPE html>

<html lang="en">
<head>
  <title></title>
</head>
<body>
<header></header>
  <form action="/login" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="eatme@yourstruly.com">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="123456789">
  <input type="submit" value="Submit">
  </form>
</body>
</html>